In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
df = pd.read_csv("ads_dataset_vehicles_2022-03-22 17 02 03.csv")

/var/folders/0r/38zgwmn509g5tw2j4r44w93m0000gn/T/ipykernel_84339/511793316.py:1: DtypeWarning: Columns (88,90,95,116) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("ads_dataset_vehicles_2022-03-22 17 02 03.csv")

In [3]:
df.shape

(22412, 150)

# Dropped Columns:

1- Unnamed: Represents the number of rows.

2- 3d_tour_link: Is all Nan.

3- agent_code: Represents a code for each agent, which won't be much of use for analysis, and can be obtained from other columns.

4- breadcrumb**: Summary of the advertisment.

5- visible_in_profile: All are ones.

6- badges: Available for delivery which can be obtained from a different column.

7- param_extra_features: A list of the params but in a list so its better to use the real names

8- category_name_short_list_ar: Manufacturer of the car but in Arabic.

9- url**: Url link for the ad.

10- city_label_ar == city_label_full_ar: City label in Arabic.

11- title_list: Same as Title.

12- subtitle**: An empty list.

13- city_label_full_en: Same as city_label_en

In [4]:
df = df.drop(columns=['Unnamed: 0', '3d_tour_link', 'agent_code',
                      'breadcrumb_ar', 'breadcrumb_en', 'breadcrumb_nocity_ar',
                      'visible_in_profile', 'badges', 'param_extra_features',
                      'category_name_short_list_ar', 'breadcrumb_nocity_en', 'url_i2_ar',
                      'url_i2_en', 'user_id', 'valid_to', 'cache_date', 'url', 'url_ar', 'url_en', 'url_i2',
                      'city_label_ar', 'title_list', 'city_label_full_ar', 'subtitle_en', 'subtitle_ar',
                      'city_label_full_en'])

In [5]:
df.head()

,ad_price,added_by_mobile,available_for_delivery,cache_source,category_id,category_name_short_list_en,city_group_id,city_id,city_label_en,contactform,...,subregion_id,tax_reg_num,title,tracking,views_count,param_rental_option,param_rental_period,param_type,param_engine_capacity,param_make
0,1700000,1.0,0.0,0.0,57,BMW,0.0,288,New Cairo - El Tagamoa,0,...,5,NaN,Bmw 740li 2019,"{'category_l1_id': '129', 'category_l1_name': ...",4098.0,NaN,NaN,NaN,NaN,NaN
1,460000,1.0,0.0,0.0,57,BMW,0.0,288,New Cairo - El Tagamoa,0,...,5,NaN,318i Luxury Line model 2017 very light use,"{'category_l1_id': '129', 'category_l1_name': ...",5419.0,NaN,NaN,NaN,NaN,NaN
2,47000,0.0,0.0,0.0,66,Nissan,0.0,212,Haram,1,...,68,455441537.0,نيسان صني 2022 nissan sunny,"{'category_l1_id': '129', 'category_l1_name': ...",549.0,NaN,NaN,NaN,NaN,NaN
3,55000,0.0,0.0,0.0,133,BYD,0.0,205,Sheikh Zayed,1,...,68,NaN,من الكموني للسيارات _ BYD L3 ٢٠٢٢ بأقل مقدم ٥٥٠٠٠,"{'category_l1_id': '129', 'category_l1_name': ...",3497.0,NaN,NaN,NaN,NaN,NaN
4,185000,1.0,0.0,0.0,76,Mitsubishi,0.0,263,Heliopolis,1,...,5,NaN,لانسر حاله ممتازه رخصه سنه مصر الجديدة,"{'category_l1_id': '129', 'category_l1_name': ...",13082.0,NaN,NaN,NaN,NaN,NaN

In [10]:
lst = list(df.columns)

In [12]:
df.columns

Index(['ad_price', 'added_by_mobile', 'available_for_delivery', 'cache_source',
       'category_id', 'category_name_short_list_en', 'city_group_id',
       'city_id', 'city_label_en', 'contactform',
       ...
       'subregion_id', 'tax_reg_num', 'title', 'tracking', 'views_count',
       'param_rental_option', 'param_rental_period', 'param_type',
       'param_engine_capacity', 'param_make'],
      dtype='object', length=124)

In [15]:
lst[11]

'created_at_first'

In [7]:
df.contactform.value_counts()

0    17003
1     4642
2      767
Name: contactform, dtype: int64

In [8]:
df.contactform.isna().sum()

0